html,
body,
div,
ul,
li,
span,
img,
a,
button,
input,
select,
table,
td,
tr,
th,
p,
h1,
h2,
h3,
h4,
h5,
h6,
header,
section {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

input,
button,
select,
a {
    outline: 0;
    border: 0;
}

.clear {
    clear: both;
}
.dn{
    display: none;
}
.db{
    display: block;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1060px;
    min-height: 450px;
}
.nav{
    position: fixed;
    top:0;
    left:0;
    z-index:2;
    width: 200px;
    height: 100%;
    min-height: 450px;
    text-align: center;
    /* border-right: 2px solid #43a8f5; */
    box-shadow: 1px 1px 5px #a3d7ff;
    background-color: #cbe7fd;
    background: linear-gradient(#fff,#cbe7fd);
}
.nav>img{
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav>a{
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    color: #31c5ff;
    text-align: center;
}
.book-manage{
    background: url(../img/book_manage.png) no-repeat;
    background-position: 18% center;
}
.authorize{
    background: url(../img/authorize.png) no-repeat;
    background-position: 18% center;
}
.nav>a:visited{
    color: #31a6ff;
}
.bg{
    background-color: #8acaff;
    color: #fff!important;
}
.nav>a:hover{
    background-color: #8accff;
    color: #fff;
}
.center{
    margin-left: 200px;
}
.head{
    position: relative;
    padding: 15px 2%;
    height: 40px;
    text-align: right;
    overflow: hidden;
}
.home{
    float: left;
}
.home>img{
    width: 50px;
}
.teacher{
    margin-right: 20px;
    font-size: 16px;
    color: #444;
}
.loginout{
    display: inline-block;
    width: 58px;
    font-size: 18px;
    color: #2397ee;
    text-indent: 1.2em;
    background:url(../img/loginout.png) no-repeat center left;
}
.border{
    position: absolute;
    bottom: 10px;
    right: 2%;
}

.title{
    margin-top: 10px;
    font-weight: normal;
    font-size: 25px;
    color: #2397ee;
    text-align: center;
}
.choose{
    /* float: right; */
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: right;
    /* padding-right: 2%; */
}
.choose>label{
    margin-left: 15px;
    font-size: 18px;
    color: #444;
}
.choose>div{
    position: relative;
    display: inline-block;
}
.choose>div>input{
    padding:5px;
    font-size: 18px;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.take-up{
    background: url(../img/take_up.png) no-repeat;
    background-position: 95% 50%;
}
.put-down{
    background: url(../img/put_down.png) no-repeat;
    background-position: 95% 50%;
}
#college{
    width: 185px;
}
#grade{
    width: 100px;
}
#major{
    width: 200px;
}
#chooseConfirm{
    width: 60px;
    height: 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    background-color: #43a8f5;
    cursor: pointer;
}
.choose ul{
    position: absolute;
    width: 100%;
    background-color: #c3e5ff;
    text-align: left;
    border: 2px solid #fff;
    /* border: 1px solid red; */
}
.choose ul>li{
    padding-left: 5%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #444;
    cursor: pointer;
}
.choose ul>li:hover{
    background-color: #65bcff;
    color: #fff;
}

.table-head{
    position: relative;
    z-index: -1;
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 50px;
}

#table{
    width: 95%;
    margin: 0 auto;
    margin-top: -50px;
    table-layout: fixed;
}
#table tr th{
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}
.number,.press{
    width: 20%;
}
.name{
    width: 21%;
}
.subject{
    width: 16%;
}
.price,.money{
    width: 8%;
}
.del{
    width: 7%;
}
.unselect{
    width: 7%;
    background: url(../img/unselect_book.png) no-repeat center;
    cursor: pointer;
}
.select{
    width: 7%;
    background: url(../img/select_book.png) no-repeat center;
    cursor: pointer;
}
#table tr td{
    height: 50px;
    font-size: 18px;
    color: #444;
    text-align: center;
    border-bottom: 1px solid #6fd1ff;
    background-color: #e4f7ff;
}
#addBook{
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #a7e5ff;
    cursor: pointer;
}

.btn{
    position: relative;
    width: 95%;
    margin: 0 auto;
    margin-bottom:20px;
    text-align: right;
}
#importBook{
    margin-right: 30px;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #ffb701;
    border-radius: 8px;
    font-size: 22px;
    color: #ffb700;
    text-indent: 1.5em;
    background: url(../img/add.png) no-repeat 10% center;
    background-color: #fff;
    cursor: pointer;
}
#file:hover+#importBook {
    color: #fff;
    background: url(../img/add_hover.png) no-repeat 10% center;
    background-color: #ffb701;
}
#file{
    position: absolute;
    right: 155px;
    width: 200px;
    height: 45px;
    border: 1px solid red;
    font-size: 70px;
    opacity: 0;
    filter:alpha(opacity=0);
    overflow:hidden;
    cursor: pointer;
}
#delBook{
    width: 120px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #a0e94a;
    border-radius: 8px;
    font-size: 22px;
    color: #a0e94a;
    text-indent: 2.5em;
    background: url(../img/del.png) no-repeat 15% center;
    background-color: #fff;
    cursor: pointer;
}
#delBook:hover{
    color: #fff;
    background: url(../img/del_hover.png) no-repeat 15% center;
    background-color: #a0e94a;
}

#addBox{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -261.5px;
    z-index: 4;
    width: 500px;
    height: 523px;
    border-radius: 10px;
    background-color: #fcf8e8;
}
.tips{
    margin: 15px 0 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ffb701;
}
.form{
    padding: 30px;
    width: 340px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.form>label{
    display: inline-block;
    margin-bottom: 25px;
    width: 100px;
    font-size: 20px;
    color: #ffb700;
    text-align: right;
    /* border: 1px solid red; */
}
.form>input{
    padding: 5px;
    width: 200px;
    height: 20px;
    font-size: 20px;
    color: #ffb700;
    border: 1px solid #ffe4aa;
}

#cover {
    position: fixed;
    top: 0;
    z-index:3;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    filter:alpha(opacity=20);
}
.button{
    padding-top: 15px;
    border-top: 2px solid #ffb700;
    text-align: center;
}
.button>input{
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#addConfirm{
    margin-right: 20px;
    background-color: #ffb700;
    color: #fff;
}
#addCancel{
    margin-left: 20px;
    border: 2px solid #ffb700;
    color: #ffb700;
    background-color: #fff;
}